.eyeicon,.iconB{
  width: 100%;
  height: 100%;
  border: none;
}
.eyeicon1,.iconB1{
  width: 100%;
  height: 100%;
  border: none;
}
.hinden-input-holder1,.hinden-input-holder2{
  margin-bottom: 15px;
}
.icon-holder,.holderB{
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hide-icon{
  display: none;
}
.hinden-input,.hinden-input2{
  background-color: yellow;
  height: 24px;
  width: 200px;
  position: relative;
}
#old-password2,#old-password,#new-passwordB,#new-password2B{
  width: 100%;
  height: 100%;
}